/* .page {
  /* background-color: aliceblue; */
@import url("https://fonts.google.com/specimen/League+Spartan?vfquery=league");
* > * {
  font-family: "Gotha Med", Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: #fdf8f5;
}
section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1em;
  min-height: 2em;

  font-size: 14px;
}

.navbar a {
  text-decoration: none;
  color: #4f4846;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-right: 1em;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputForm {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  background-color: white;
}

.inputForm span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  /* border-radius: 50px; */
}

#form > input:focus {
  outline: none;
}
.relocate {
  background-color: #266150;
  padding: 10px 10px;
  color: #fdf8f5;
}

#form > .btn {
  background-color: #266150;
  color: #fdf8f5;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.inputForm .col-1 {
  margin: auto;
  padding: 3em 0;
}

.inputForm .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
@media screen and (min-width: 860px) {
  .inputForm .col-2 img {
    display: initial;
  }
}
/* div {
  background-size: cover;
} */

h4 {
  color: #4f4846;
  font-size: 25px;
}

h2 {
  color: #4f4846;
  margin-bottom: 10px;
}
