/* .page {
  /* background-color: aliceblue; */

/* @font-face {
  font-family: League Spartan, sans-serif;
  src: url("https://fonts.google.com/specimen/League+Spartan?vfquery=league");
  font-display: swap;
} */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
}
*/ body {
  background-color: #fcf2ec;
}
section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1em;
  min-height: 2em;

  font-size: 14px;
}

.navbar a {
  text-decoration: none;
  color: #4f4846;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-right: 1em;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputForm {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  background-color: white;
}

.inputForm span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
  /* border-radius: 50px; */
}

#form > input:focus {
  outline: none;
}
.relocate {
  background-color: #266150;
  padding: 10px 10px;
  color: #fdf8f5;
  border: none;
}

#form > .btn {
  background-color: #266150;
  color: #fdf8f5;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.inputForm .col-1 {
  margin: auto;
  padding: 3em 0;
}

.home-container {
  width: 100vw;
  display: flex;
  height: 85vh;
  transform: translateY(50px);

  background-color: #e8cebf;

  /* max-width: 900px; */
}

.home-container .column-1 {
  margin: auto;
  background-color: #e8cebf;
  /* padding: 275px; */
}

h1 {
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 4em;
  line-height: 1.5;
}
.homeBtn,
.registerBtn {
  background-color: #266150;
  border: none;
  padding: 2em;
  color: #ece0d8;
}

.homeBtn:hover,
.relocate:hover,
.registerBtn:hover {
  cursor: pointer;
  background-color: #4f4846;
  transition: 0.4s;
}
.home-container .column-2 img {
  width: 40vw;
  height: 85vh;
  object-fit: cover;
  display: none;
}

.inputForm .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
@media screen and (min-width: 860px) {
  .inputForm .col-2 img,
  .home-container .column-2 img {
    display: initial;
  }
}

/* div {
  background-size: cover;
} */

h4 {
  color: #4f4846;
  font-size: 25px;
}

h2 {
  color: #4f4846;
  margin-bottom: 10px;
}

.home-container .column-2 img:hover {
  opacity: 0.95;

  cursor: pointer;
}

.options {
  /* display: flex; */
  /* margin: auto; */
  padding: 10px;
}

.options h4 {
  margin-bottom: 25px;
}

.individual-btn {
  margin-right: 10px;
  border: 1px solid rgb(205, 205, 205);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  /* padding: 10px; */
}
